@model IEnumerable<Metrosoft.Models.Users>

@*@page
@model Metrosoft.Views.Users.UsersModel
@{
}*@
<div>
    <form asp-action="Logout" asp-controller="Users">
        <button class="logout btn btn-danger" type="submit">Logout</button>
    </form>
    <form asp-controller="Users" asp-action="GetAllUsers" method="get">
        <p>
            Title: <input type="text" name="LastName"/>
            <button class="btn btn-primary" type="submit">Search</button>
        </p>
  </form>
    <table>
        <thead>
             <tr>
                 <th>Id</th>
                 <th>LastName</th>
                 <th>FirstName</th>
                 <th>Email</th>
             </tr>
        </thead>
        <tbody>
           @foreach (var item in Model)
           {
              <tr>
                 <td>@item.Id</td> 
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td>@item.Email</td>
              </tr>
           }
        </tbody>
    </table>
</div>
